<% obj.each do |a| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="article-title">
                    <%= link_to a.title, article_path(a) %>
                </div>
                <div class="article-body">
                    <%= truncate(a.description, length: 100) %>
                    <div class="article-meta-details">
                        <small>Created by : <%= a.user.username if a.user %>, <%= time_ago_in_words(a.created_at) %> ago, last updated : <%= time_ago_in_words(a.updated_at) %> ago</small>
                    </div>
                </div>
                <% if a.categories.any? %>
                    <p>Categories: <%= render a.categories %></p>
                <% end %>
                <% if logged_in? && (current_user == a.user || current_user.admin? ) %>
                    <div class="article-actions">
                        <%= link_to "Edit this article", edit_article_path(a), class: "btn btn-xs btn-primary" %>
                        <%= link_to "Delete this article", article_path(a), method: :delete, data: { confirm: "Are you sure want to delete this article?" }, class: "btn btn-xs btn-danger" %>
                        <%= link_to "Back to articles listing", articles_path, class: "btn btn-xs btn-success" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
