<h1 align="center">Listing all categories</h1>

<div align="center"><%= will_paginate %></div>

<div align="center">
    <% @categories.each do |c| %>
        <ul class="listing">
            <div class="row">
                <div class="well col-md-4 col-md-offset-4">
                    <li class="article-title"><%= link_to "#{c.name}", category_path(c) %></li>
                    <li><small><%= pluralize(c.articles.count, "article") %></small></li>
                </div>
            </div>
        </ul>
    <% end %>
</div>

<div align="center"><%= will_paginate %></div>
