<div class="container">
    <footer class="footer">
        <small>
            Copyleft &copy andre
        </small>
        <nav>
            <ul>
                <li>
                    <%= link_to "About", about_path %>
                </li>
            </ul>
        </nav>
    </footer>
</div>
